/LipSyncUE4/Saved/
/LipSyncUE4/Intermediate/
/LipSyncUE4/Content/Collections/
/LipSyncUE4/Content/Developers/
/LipSyncTimeLine/.vs/
/LipSyncTimeLine/bin/
/LipSyncTimeLine/obj/
/LipSyncTimeLine/packages/
